<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs')%>
</head>

<body>
    <header>
        <%- include ('partials/navegacion.ejs')%>
    </header>


    <section>
        <div class="section-principal">
            <h1>JACKENVIOS</h1>
            <p>Servicios de delivery</p>
        </div>

        <div class="section-nosotros row container-fluid">
            <h2>NOSOTROS</h2>
            <div class="nosotros-texto col-12 row text-center col-sm-12 col-lg-12">
                <div class="col-12 col-sm-3 col-lg-3 ">
                    <img src="/img/repartidor-nosotros.jpg" alt="">
                </div>
                <div class="col-12 col-sm-8 col-lg-8 d-flex align-items-center container-fluid text-nosotros">
                    <p>Somos un emprendimiento de deliverys con años de experiencia, nuestro equipo esta integrado
                        por personas con experiencia, trabajando en empresas de delivery como PedidoYA, Glovo y
                        MercadoEnvioFlex,
                        somo un equipo de confianza con objetivo de sastifacer a nuestros clientes tanto en seguridad
                        como
                        responsabilidad. Nuestro precios son accesible para toda persona que tenga un emprendimiento o
                        aquella persona que
                        solo quiera enviar un objeto.
                    </p>
                </div>
            </div>
        </div>

        <div class="nosotros-equipo col-lg-12 col-12 row d-flex container-fluid">
            <h2>NUESTRO EQUIPO</h2>
            <div class="container col-12 col-lg-4 text-center">
                <img src="/img/faceBlack.png" alt="">
                <h3>Ivan Almendra</h3>
                <div class="">
                    <p>Encargado de repartir en bicicleta por la zona de zona sur como Quilmes, Berazategui, La
                        Plata, etc.
                        Trabajo en Glovo, tienen un tiempo promedio de recorrer 20km en 35min, es muy amable y
                        responsable
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <img src="/img/faceBlue.png" alt="">
                <div class="">
                    <h3>Luciano Moreno</h3>
                    <p>Encargado de repartir en moto por la zona de CABA, Trabajo en PedidoYA teniendo una alta
                        aceptibilidad de los clientes, es muy simpatico y no le gusta llegar tarde
                </div>
                </p>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <img src="/img/faceBoss.png" alt="">
                <div class="">
                    <h3>Jorge Almendra</h3>
                    <p>Encargado de repartir en auto por la zona norte, CABA y zona sur, es el encargado de repartir
                        productos
                        grandes, trabajo de en Mercado Envio Flex y Pedido Ya, es muy responsable y le gusta hablar
                        mucho.
                    </p>
                </div>
            </div>
        </div>

    </section>

    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
</body>

</html>