* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header nav ul {
    display: flex;
    background-color: black;

}

header nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 4vh;
    font-family: 'Ubuntu', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav ul li a:hover {
    color: #dbd9d9;
}

header nav ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-dt img {
    width: 70%;
    border-radius: 50%;
}

.header-nav-dt .logo-header {
    width: 45%;
}

.container-header-mb {
    display: none;
}

.container-header-dt nav ul{
    margin-bottom: 0;
}

/* SECTION PRINCIPAL*/
.section-principal{
    text-align: center;
    background-color: #817777;
    margin: 0;
    height: 45vh;
}

.section-principal h1{
    font-size: 6rem;
    position: relative;
    top: 20%;
    font-family: 'Crimson Text', serif;
}

.section-principal p{
    position: relative;
    top: 20%;
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif;
    font-weight: 1rem;
}

.section-nosotros{
    padding-top: 1rem;
}
.section-nosotros .nosotros-texto img{
    width: 70%;
    border-radius: 50%;
}

.section-nosotros h2, .nosotros-equipo h2{
    font-family: 'Crimson Text', serif;
    padding-left: 10vh;
    font-size: 2.2rem;
    color: #884b35;
}

.section-nosotros .nosotros-texto{
    margin-top: 1rem;
}
.nosotros-texto p{
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;
}

.nosotros-equipo h2{
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.nosotros-equipo img{
    width: 40%;
}

section .nosotros-equipo{
    margin-top: 1rem;
}
@media only screen and (max-width:768px) {
    h2{
        font-size: 1rem;
    }
    .container-header-dt {
        display: none;
    }

    .container-header-mb {
        display: flex;
        justify-content: center;
        background-color: black;
        align-items: center;
    }

    .container-header-mb a img {
        width: 55%;
        border-radius: 50%;
    }

    .container-img-mb {
        width: 50%;
    }

    .btnDropDown {
        display: block;
    }

    .dropDownMenu {
        display: none;
    }

    .btnDropDown:hover .dropDownMenu {
        display: block;
        position: absolute;
        position: absolute;
        right: 1rem;
        padding: 1rem;
        border-radius: 10px;
    }

    .nav-mb {
        padding-top: 3vh;
        z-index: 1;
    }

    .dropDownMenu li a{
        margin-top: 0.2rem;
    }

    .section-principal h1{
        font-size: 8vh;
    }
    .section-principal p{
        font-size: 1.5rem;

    }
    section .section-nosotros{
        margin: 0;
        margin-top: 3rem;
    }
    section .text-nosotros{
        border-bottom: 1px solid #585858;
        box-sizing: content-box;
    }
    section .section-nosotros h2{
        padding: 0;
    }
    section .nosotros-equipo h2{
        padding: 0;
    }
}