  <div class="container-header-dt">
        <nav>
            <ul class="header-nav-dt">
                <li><a href="rutas">Rutas</a></li>
                <li><a href="precio">Precio</a></li>
                <li class="logo-header"><a href="/"><img src="/img/pablita_delivery_Main_comp_transparent.gif"
                            alt="logoJack"></a></li>
                <li><a href="preguntas">Preguntas</a></li>
                <li><a href="contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>

    <div class="container-header-mb">
        <div class="container-img-mb">
            <a href="/"><img src="/img/pablita_delivery_Main_comp_transparent.gif"" alt=""></a>
        </div>
        <nav class="nav-mb">
                <ul>
                    <li class="btnDropDown"><img src="/img/menu.png" alt="">
                        <ul class="dropDownMenu">
                            <li><a href="rutas">Rutas</a></li>
                            <li><a href="precio">Precios</a></li>
                            <li><a href="preguntas">Preguntas</a></li>
                            <li><a href="contacto">Contacto</a></li>
                        </ul>
                    </li>
                </ul>
                </nav>
        </div>
